

.gradient.theme-47535d {
  background: -moz-linear-gradient(-25deg, #47535d 0%, #6f7b85 100%);
  background: -webkit-linear-gradient(-25deg, #47535d 0%, #6f7b85 100%);
  background: linear-gradient(115deg, #47535d 0%, #6f7b85 100%);
  color: #ffffff;
}

.gradient.theme-96bf48 {
  background: -moz-linear-gradient(-25deg, #96bf48 0%, #6e9720 100%);
  background: -webkit-linear-gradient(-25deg, #96bf48 0%, #6e9720 100%);
  background: linear-gradient(115deg, #96bf48 0%, #6e9720 100%);
  color: #ffffff;
}

.gradient.theme-50abf1 {
  background: -moz-linear-gradient(-25deg, #50abf1 0%, #78d3ff 100%);
  background: -webkit-linear-gradient(-25deg, #50abf1 0%, #78d3ff 100%);
  background: linear-gradient(115deg, #50abf1 0%, #78d3ff 100%);
  color: #ffffff;
}

.gradient.theme-179cde {
  background: -moz-linear-gradient(-25deg, #179cde 0%, #3fc4ff 100%);
  background: -webkit-linear-gradient(-25deg, #179cde 0%, #3fc4ff 100%);
  background: linear-gradient(115deg, #179cde 0%, #3fc4ff 100%);
  color: #ffffff;
}

.gradient.theme-0abb5d {
  background: -moz-linear-gradient(-25deg, #0abb5d 0%, #32e385 100%);
  background: -webkit-linear-gradient(-25deg, #0abb5d 0%, #32e385 100%);
  background: linear-gradient(115deg, #0abb5d 0%, #32e385 100%);
  color: #ffffff;
}

.gradient.theme-0087fd {
  background: -moz-linear-gradient(-25deg, #0087fd 0%, #28afff 100%);
  background: -webkit-linear-gradient(-25deg, #0087fd 0%, #28afff 100%);
  background: linear-gradient(115deg, #0087fd 0%, #28afff 100%);
  color: #ffffff;
}

.gradient.theme-25d366 {
  background: -moz-linear-gradient(-25deg, #25d366 0%, #4dfb8e 100%);
  background: -webkit-linear-gradient(-25deg, #25d366 0%, #4dfb8e 100%);
  background: linear-gradient(115deg, #25d366 0%, #4dfb8e 100%);
  color: #ffffff;
}

.gradient.theme-4a154b {
  background: -moz-linear-gradient(-25deg, #4a154b 0%, #723d73 100%);
  background: -webkit-linear-gradient(-25deg, #4a154b 0%, #723d73 100%);
  background: linear-gradient(115deg, #4a154b 0%, #723d73 100%);
  color: #ffffff;
}

.gradient.theme-7289da {
  background: -moz-linear-gradient(-25deg, #7289da 0%, #9ab1ff 100%);
  background: -webkit-linear-gradient(-25deg, #7289da 0%, #9ab1ff 100%);
  background: linear-gradient(115deg, #7289da 0%, #9ab1ff 100%);
  color: #ffffff;
}

.gradient.theme-ff4a00 {
  background: -moz-linear-gradient(-25deg, #ff4a00 0%, #ff7228 100%);
  background: -webkit-linear-gradient(-25deg, #ff4a00 0%, #ff7228 100%);
  background: linear-gradient(115deg, #ff4a00 0%, #ff7228 100%);
  color: #ffffff;
}